@model PaymentViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/logo.png">
    <title>Payment</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.min.css" />
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/vendor/sidebar/demo.css" rel="stylesheet">
</head>
<body class="">
    <div class="longcontainer">
        <div class="payment padding-bt">
            <div class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-darkblue">
                <h5 class="font-weight-normal mb-0 text-white">
                    <a class="text-darkblue mr-3" href="select-seat.html"><i class="icofont-rounded-left"></i></a>
                    Payment
                </h5>
                <div class="ml-auto d-flex align-items-center">
                    <a class="toggle osahan-toggle h4 m-0 text-white ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
                </div>
            </div>
            <div class="your-ticket pt-2">
                <div class="p-3">
                    <div class="bg-white rounded-1 shadow-sm p-2 mb-2">
                        <div class="row mx-0 px-1">
                            <div class="col-6 p-0">
                                <small class="text-muted mb-1 f-10 pr-1 font-weight-bold">GOING FROM</small>
                                <p class="small mb-0"> @Model.From</p>
                            </div>
                            <div class="col-6 p-0">
                                <small class="text-muted mb-1 f-10 pr-1 font-weight-bold">GOING TO</small>
                                <p class="small mb-0">@Model.To</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-1 shadow-sm p-2 mb-2 w-100">
                        <div class="row mx-0 px-1">
                            <div class="col-12 p-0 mb-2">
                                <small class="text-green mb-1 f-10 pr-1 font-weight-bold">PICKUP FROM</small>
                                <p class="small mb-0 l-hght-14">@Model.From Bus Station</p>
                            </div>
                            <div class="col-12 p-0">
                                <small class="text-green mb-1 f-10 pr-1 font-weight-bold">DROPPING AT</small>
                                <p class="small mb-0 l-hght-14">@Model.To Bus Station</p>
                            </div>
                        </div>
                    </div>
                    <div class="list_item d-flex col-12 m-0 p-3 bg-white shadow-sm rounded-1 shadow-sm">
                        <div class="d-flex w-100">
                            <div class="bus_details w-100">
                                <p class="mb-2 l-hght-18 font-weight-bold">Traveller’s Info.</p>
                                <div class="l-hght-10 d-flex align-items-center my-2">
                                    <small class="text-muted mb-0 pr-1">Passenger</small>
                                    <p class="small mb-0 ml-auto l-hght-14"> @Model.FullName</p>
                                </div>
                                <div class="l-hght-10 d-flex align-items-center my-2">
                                    <small class="text-muted mb-0 pr-1">Ticket Number</small>
                                    <p class="small mb-0 ml-auto l-hght-14"> @Model.TicketNumber</p>
                                </div>
                                <div class="l-hght-10 d-flex align-items-center my-2">
                                    <small class="text-muted mb-0 pr-1">Seat No</small>
                                    <p class="small mb-0 ml-auto l-hght-14"> @Model.SeatNumbers</p>
                                </div>
                                <div class="l-hght-10 d-flex align-items-center mt-3">
                                    <p class="mb-0 pr-1 font-weight-bold">Amount Paid</p>
                                    <p class="mb-0 ml-auto l-hght-14 text-green font-weight-bold">$ @Model.AmountPaid</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-borrad shadow-sm bg-white mt-2 rounded-1">
                        <div class="border-bottom p-3">
                            <div class="w-100 mastercard custom-control custom-radio custom-control-inline mr-0">
                                <input type="radio" id="customRadiomaster1" name="customRadiocard1" class="custom-control-input" checked>
                                <label class="custom-control-label small w-100" for="customRadiomaster1">
                                    <a href="payment-card.html" class="d-flex align-items-start">
                                        <div class="">
                                            <p class="mb-0 text-dark">Mastercard</p>
                                            <small class="text-muted">Pay from mastercard account using mastercard payment gateway</small>
                                        </div>
                                        <img src="img/master.png" class="img-fluid rounded ml-auto">
                                    </a>
                                </label>
                            </div>
                        </div>
                        <div class="p-3">
                            <div class="w-100 visa custom-control custom-radio custom-control-inline mr-0">
                                <input type="radio" id="customRadiovisa1" name="customRadiocard1" class="custom-control-input">
                                <label class="custom-control-label small w-100" for="customRadiovisa1">
                                    <a href="payment-card.html" class="d-flex align-items-start">
                                        <div class="">
                                            <p class="mb-0 text-dark">Visa</p>
                                            <small class="text-muted">Pay from visa account using visa payment gateway</small>
                                        </div>
                                        <img src="img/visa.png" class="img-fluid rounded ml-auto">
                                    </a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form id="reserveForm" method="post" action="@Url.Action("ReserveSeats", "Yatri")">
                <input type="hidden" name="PassengerId" value="@Model.PassengerId" />
                <input type="hidden" name="BusId" value="@Model.BusId" />
                <input type="hidden" name="UserLoginId" value="@Model.UserId" />
                <input type="hidden" name="SeatNumbers" value="@Model.SeatNumbers" />
            </form>
            <div class="nav-osahan-fotter view-seatbt p-3">
                <button type="button" id="reserveButton" class="btn btn-green btn-block d-flex align-items-center rounded-1">
                    <span class="text-left">
                        <i class="icofont-children-care"></i>
                    </span>
                    Reserve
                    <span class="text-right ml-auto">
                       Selected Seat: @Model.SeatNumbers
                    </span>
                </button>
                <button type="button" id="buyButton" class="btn btn-danger btn-block d-flex align-items-center rounded-1 mt-3">
                    <span class="text-left">
                        <i class="icofont-cart-alt"></i>
                    </span>
                    Buy
                    <span class="text-right ml-auto">
                        Rs. @Model.TotalAmount
                    </span>
                </button>
            </div>
        </div>
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/slick/slick.min.js"></script>
        <script src="~/vendor/sidebar/hc-offcanvas-nav.js"></script>
        <script src="~/js/osahan.js"></script>
        <script>
            $(document).ready(function () {
                $('#reserveButton').click(function () {
                    reserveSeats(); // Call the function to reserve seats
                });

                $('#buyButton').click(function () {
                    var userLoginId = '@Model.UserId';
                    var busId = '@Model.BusId';
                    var passengerId = '@Model.PassengerId';
                    var seatNumbers = '@Model.SeatNumbers';
                    window.location.href = '@Url.Action("PaymentCard", "Yatri")' + '?userLoginId=' + userLoginId + '&busId=' + busId + '&passengerId=' + passengerId + '&seatNumbers=' + seatNumbers;
                });

                function reserveSeats() {
                    $.ajax({
                        url: '@Url.Action("ReserveSeats", "Yatri")',
                        method: 'POST',
                        data: $('#reserveForm').serialize(), // Serialize form data
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                            } else {
                                alert('Unsuccessful: ' + response.message);
                            }
                        },
                        error: function (error) {
                            alert('Error reserving seats.');
                        }
                    });
                }
            });
        </script>
</body>
</html>
